body{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15pt;
    }

.header {
    width: 100%;
    display: flex;
  }
  
  .my-photo {
    width: 30%;
    padding: 50px;
    padding-left:140px;
    margin-bottom:200px;
    margin-top:80px;
  }
  
  .my-photo img {
    width: 50%;
  }
  
  .header-content {
    width: 60%;
    margin: 20px;
    padding-top:40px;
    padding-left:0px;
    margin-top:80px;
  }
  
  section {
    margin: 50px;
  }
  
  .section-header {
    cursor: pointer;
  }
  
  .experience,
  .studies {
    display: none;
  }
  
  .active {
    display: block;
    background-color: azure;
    padding: 10px;
  }

  footer ul li{
    list-style-type:none;
    float:left;
  }

  a{ 
    text-decoration:none;
    margin:50px;
  }

  .social-button{
    display:initial;
    width:300px;
  }